.header {
  background-color: rgb(1, 115, 160);
  padding: 10px;
}

.header p {
  font-size: 24px;
}

.header-text {
  font-size: 60px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
    sans-serif 'Lucida Sans', Arial, sans-serif serif 'Lucida Sans', Arial,
    sans-serif;
  text-shadow: 0px 0px 2px white;
  font-weight: bold;
}

.lead {
  color: white;
}
