.player-gear {
  background-image: url(../../../assets/images/official-gear.png);
  padding: 0 0 108.333%;
  background-size: cover;
  position: relative;
  margin-bottom: 4em;
}

.player-gear .item {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 25%;
  height: auto;
  min-height: 22%;
}

.player-gear .item.bag {
  top: 6%;
  left: 6%;
}

.player-gear .item.head {
  top: 7.5%;
  left: 37%;
}

.player-gear .item.cape {
  top: 6%;
  left: auto;
  right: 6%;
}

.player-gear .item.main-hand {
  top: 30%;
  left: 11%;
}

.player-gear .item.chest {
  top: 30%;
  left: 37%;
}

.player-gear .item.off-hand {
  top: 32%;
  left: auto;
  right: 11%;
}

.player-gear .item.potion {
  top: 54.3%;
  left: 6%;
}

.player-gear .item.boots {
  top: 51.5%;
  left: 37%;
}

.player-gear .item.food {
  top: 54.3%;
  left: auto;
  right: 6%;
}

.player-gear .item.mount {
  top: 73.5%;
  left: 37%;
}

.player-inventory {
  margin: 1em auto;
}

.player-inventory-items {
  margin: 2em;
}

.player-inventory-header h3 {
  color: white;
  font-size: 2vmin;
  margin-bottom: 0em;
}

.inventory-item {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.item-count {
  position: absolute;
  display: block;
  width: 20%;
  bottom: 19%;
  right: 15%;
  color: #fff;
  line-height: 12px;
  font-size: 0.75rem;
}

@media only screen and (max-width: 950px) {
  .player-gear {
    margin-bottom: 0em;
  }

  .player-inventory {
    width: 90%;
  }

  .player-inventory-header h3 {
    font-size: 1.5rem;
  }

  .inventory-item {
    width: 75px;
    height: 75px;
  }
}
