.not-found-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  max-width: 1000px;
  margin: 2em auto;
  padding: 1.5em;
  border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .not-found-error {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .not-found-error {
    width: 90%;
  }
}

@media only screen and (max-width: 350px) {
  .not-found-error {
    width: 100%;
  }
}
