.player-info {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.player-info .card {
  border-radius: 10px;
}

.card-body {
  text-align: center;
}

.card-text {
  font-size: 16px;
}

.ring-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.ring {
  position: absolute;
}

img {
  max-width: 100%;
  height: auto;
}

.links {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.links a:link {
  color: blue;
  text-decoration: none;
  font-size: 16px;
}

.links a:visited {
  color: purple;
}

.links a:hover {
  color: rgb(1, 115, 160);
  text-decoration: underline;
  text-shadow: 0 0 0.01px black;
}

.links a:active {
  color: royalblue;
  text-decoration: underline;
}
