.event {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
  text-align: center;
}

.killer-info,
.victim-info {
  width: 30%;
}

.killer-info::before {
  content: 'KILLER';
}

.victim-info::before {
  content: 'VICTIM';
}

.victim-info::before,
.killer-info::before {
  font-size: 2vmin;
  font-weight: bold;
}

p {
  margin-bottom: 0.5em;
  font-size: 1.5vmin;
}

h4 {
  color: white;
  font-size: 2vmin;
}

.event-info {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 100%;
  padding: 1.5em;
  width: 20%;
}

.event-info h4 {
  color: red;
  font-weight: 900;
  text-transform: uppercase;
}

.event-info p {
  font-weight: 700;
}
