.event {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  text-align: center;
}

p {
  margin-bottom: 0.5em;
  font-size: 1.5rem;
}

h4 {
  font-size: 2rem;
}

.center-column {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 100%;
  margin-top: 10em;
  padding: 1.5em;
}

.center-column h4 {
  color: red;
}
