.recent-deaths {
  text-align: center;
  width: 80%;
  overflow-x: auto;
  margin: 2em auto 5.5em;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 0.5);
}

.deaths-content {
  width: 100%;
  background-color: #0b5688;
  overflow: scroll;
}

.loading-deaths {
  text-align: center;
}

.player-deaths-header {
  text-shadow: 2px 2px #000000;
  background-color: #0b5688;
  color: white;
  font-weight: 900;
  text-align: center;
  padding: 2vmin;
  margin: 0 auto;
}

.deaths-headers th {
  font-size: 1.5rem;
  color: white;
  padding: 0.75em;
}

.deaths-content tr:first-child {
  background-color: rgb(7, 43, 68);
}

.deaths-content tr:nth-child(even) {
  background-color: #0173a0;
}

.deaths-content td {
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  padding: 1em;
}

.deaths-content tr:hover td {
  background-color: rgba(0, 0, 0, 0.7);
}

.death-link {
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
}

.death-link:hover {
  color: rgb(1, 115, 160);
  text-decoration: underline;
  text-shadow: 0 0 0.01px black;
}

@media only screen and (max-width: 1100px) {
  .recent-deaths {
    text-align: start;
    width: 100%;
    margin-top: 0em;
  }

  .deaths-headers th {
    font-size: 1.35rem;
  }

  .deaths-headers th,
  .recent-deaths td {
    padding: 0.5em;
  }

  .deaths-content td {
    font-size: 1rem;
    font-weight: normal;
  }

  .death-link {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 873px) {
  .recent-deaths th {
    padding: 0.25em;
  }

  .deaths-headers th {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 420px) {
  .recent-deaths th,
  .recent-deaths td {
    padding: 0.5em;
  }

  .deaths-headers th {
    font-size: 1rem;
    white-space: nowrap;
  }

  .player-deaths-header {
    padding: 0.5em;
  }

  .player-deaths-header h2 {
    font-size: 1.25rem;
  }

  .alliance-name,
  .killer-ip,
  .victim-ip {
    display: none;
  }
}
