table {
  width: 100%;
}

.recent-deaths {
  width: 70%;
  text-align: center;
  overflow-x: auto;
  margin: 0 auto;
}

.deaths-content {
  background-color: rgb(11, 86, 136);
  overflow: scroll;
  margin: 0 auto;
}

.loading-deaths {
  text-align: center;
}

.player-deaths-header {
  background-color: black;
  color: rgb(7, 147, 202);
  border-radius: 10px;
  font-weight: 900;
  text-align: center;
  margin: 2em 0em 3em 0em;
  padding: 1em;
}

.deaths-headers th {
  font-size: 1.5rem;
  color: black;
  padding: 0.75em;
}

.deaths-content tr {
  border: 1px solid black;
}

.deaths-content tr:nth-child(even) {
  background-color: rgb(1, 115, 160);
}

.deaths-content td {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 1em;
}

.deaths-content tr:hover td {
  background-color: black;
}

.death-link {
  font-size: 1rem;
  color: white;
}

.death-link a:hover {
  color: rgb(1, 115, 160);
}

.death-link a:active {
  text-decoration: none;
}

.death-link a:focus {
  background-color: black;
}
