.header {
  background-color: rgb(3, 87, 121);
  color: rgba(255, 255, 255, 0.89);
  margin: 0 auto;
  padding: 5.5em;
}

.header-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  font-size: 2.5rem;
}

.header-lead {
  text-shadow: 0 0 2px black;
  font-size: 1.75rem;
  margin: 0 auto;
}

.topnav {
  background-color: white;
  overflow: hidden;
}

.character-select {
  padding: 0.4em;
}

.topnav a {
  color: #0b5688;
  text-decoration: none;
  padding: 0.5em;
}

.topnav a,
.character-select {
  float: left;
  display: block;
}

.topnav a:hover {
  background-color: #0b5688;
  color: white;
  text-decoration: underline;
}

.topnav .icon {
  display: none;
}

@media only screen and (max-width: 900px) {
  .header-text {
    font-size: 2rem;
  }

  .header-lead {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .topnav select {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a,
  .topnav.responsive select {
    float: none;
    text-align: left;
  }

  .topnav.responsive a {
    display: block;
  }

  .topnav.responsive select {
    display: inline;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding-left: 3em;
    padding-right: 3em;
  }
}
