.header {
  min-height: 30vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../../assets/images/lands-awakened.jpeg');
  background-size: cover;
  color: rgba(255, 255, 255, 0.89);
  margin: 0 auto;
  padding: 5.5em 5.5em 3em 5.5em;
}

.header-text {
  margin: 0em auto;
  text-shadow: 0 1px 0 rgb(0 0 0 / 20%), 0 0 10px #000, 0 0 50px #000;
}

.header-primary {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.header-lead {
  text-shadow: 0 0 2px black;
  font-size: 1.5rem;
  margin: 0 auto;
}

.topnav {
  background-color: white;
  overflow: hidden;
}

.character-select {
  padding: 0.9em;
}

.topnav a,
.topnav button {
  color: #0b5688;
  background-color: white;
  text-decoration: none;
  padding: 1em;
}

.topnav a,
.topnav button,
.character-select {
  font-size: 1.25rem;
  float: left;
  display: block;
}

.topnav a:hover,
.topnav button:hover {
  background-color: #0b5688;
  color: white;
  text-decoration: underline;
}

.topnav .icon {
  display: none;
}

@media only screen and (max-width: 900px) {
  .header-lead {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 600px) {
  .header-primary {
    font-size: 2rem;
  }

  .header-text {
    width: 100%;
  }

  .topnav a:not(:first-child),
  .topnav select {
    display: none;
  }

  .topnav button.icon {
    float: right;
    display: block;
    border: none;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive button.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a,
  .topnav.responsive select {
    float: none;
    text-align: left;
  }

  .topnav.responsive a {
    display: block;
  }

  .topnav.responsive select {
    display: inline;
  }
}
