.header {
  background-color: rgb(3, 87, 121);
  color: rgba(255, 255, 255, 0.89);
  margin: 0 auto;
  padding: 2em;
  font-size: 2vmax;
  text-align: center;
}

.header-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 0 0 5px black;
  font-size: 2.75vmax;
}

.header-lead {
  text-shadow: 0 0 2px black;
  font-size: 1.25vmax;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  margin-top: 0em;
  padding: 0em 0.25em;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 0.25em 0.5em;
  font-size: 1.5em;
}

.navbar a:hover {
  background-color: rgb(1, 115, 160);
  color: white;
  border-radius: 10px;
}

.navbar a:active {
  background-color: black;
  color: rgb(1, 115, 160);
}

@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0em 0.25em 0em 0.25em;
  }

  .navbar a {
    padding: 0.25em;
  }
}
