.search-separator {
  width: 100%;
  opacity: 80%;
  background-color: rgb(1, 115, 160);
}

.results-table {
  width: 100%;
}

.results-table td {
  max-width: 50%;
}

.results-table tr {
  color: black;
}

.player-links a {
  text-decoration: none;
}

.player-links a:hover {
  color: rgb(1, 115, 160);
  text-decoration: underline;
  text-shadow: 0 0 0.01px black;
}
