.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(3, 87, 121);
  color: white;
  padding: 2em 5em;
}

.footer-about-header,
.footer-community-header,
.footer-contact-header {
  font-size: 1rem;
  text-transform: uppercase;
}

.footer-about {
  max-width: 40%;
}

.footer-community,
.footer-contact {
  max-width: 25%;
}

.footer-about,
.footer-community,
.footer-contact {
  font-size: 0.75rem;
  padding: 1em;
}

.footer-contact p {
  text-align: start;
}

.footer-contact-links a {
  padding: 1em;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: rgb(34, 184, 243);
  text-decoration: underline;
  text-shadow: 0 0 0.01px rgb(0, 0, 0);
}

@media only screen and (max-width: 850px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0.5em;
  }

  .footer p {
    margin-bottom: 0em;
  }

  .footer-about,
  .footer-community,
  .footer-contact {
    text-align: center;
    max-width: 100%;
    padding: 1em 0em;
  }

  .footer-contact p {
    margin-bottom: 1em;
  }
}
