.search-form {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: 2em auto;
  padding: 1.5em;
  border-radius: 10px;
}

.search-form h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.search-label {
  padding: 0.375rem 0.75rem;
}

.search-input {
  padding: 0.375rem 0.75rem;
}

.button {
  font-size: 1rem;
  padding: 0.5em 1.5em;
  margin: 0.5em;
  border-radius: 5px;

  background-color: #0173a0;
  color: white;
}

@media only screen and (max-width: 750px) {
  .search-form {
    width: 80%;
  }
}
