html,
body,
#root,
.app {
  min-height: 100vh;
}

.app {
  overflow: hidden;
  display: block;
  position: relative;
  background-image: radial-gradient(
    circle,
    #2386c7,
    #1981bd,
    #0f7db3,
    #0678aa,
    #0173a0
  );
  padding-bottom: 5em;
}
