.App {
  background: linear-gradient(45deg, black, dodgerblue);
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}
