html {
  height: 100%;
  position: relative;
}

.app {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  background-color: rgb(1, 115, 160);
  padding-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
