table {
  width: 100%;
}

.recent-kills {
  text-align: center;
  overflow-x: auto;
  margin: 0 auto;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #0173a0,
    #016c9a,
    #036494,
    #075d8e,
    #0b5688
  );
}

.kills-content {
  background-color: #0b5688;
  overflow: scroll;
  margin: 0 auto;
}

.loading-kills {
  text-align: center;
}

.player-kills-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.836);
  background-color: rgba(0, 0, 0, 0.363);
  color: white;
  font-weight: 900;
  text-align: center;
  padding: 2vmin;
  margin: 2em auto;
}

.player-kills-header h2 {
  margin: 0;
}

.kills-headers th {
  font-size: 1.5rem;
  color: black;
  padding: 0.75em;
}

.kills-content tr {
  border: 1px solid black;
}

.kills-content tr:nth-child(even) {
  background-color: #0173a0;
}

.kills-content td {
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  padding: 1em;
}

.kills-content tr:hover td {
  background-color: rgba(0, 0, 0, 0.699);
}

.kill-link {
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
}

.kill-link a:hover {
  color: rgb(1, 115, 160);
}

.kill-link a:active {
  text-decoration: none;
}

.kill-link a:focus {
  background-color: rgb(136, 38, 38);
}

@media only screen and (max-width: 1100px) {
  .recent-kills {
    text-align: start;
  }

  .kills-headers th {
    font-size: 1.35rem;
  }

  .kills-headers th,
  .recent-kills td {
    padding: 0.5em;
  }

  .kills-content td {
    font-size: 1rem;
    font-weight: normal;
  }

  .kill-link {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 873px) {
  .recent-kills th {
    padding: 0.25em;
  }

  .kills-headers th {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 420px) {
  .recent-kills th,
  .recent-kills td {
    padding: 0.5em;
  }

  .kills-headers th {
    font-size: 1rem;
    white-space: nowrap;
  }

  .player-kills-header {
    padding: 0.5em;
  }

  .player-kills-header h2 {
    font-size: 1.25rem;
  }

  .alliance-name,
  .killer-ip,
  .victim-ip {
    display: none;
  }
}
